body{
	font-family: 'Josefin Sans', sans-serif;
}

#top{
	margin-top: 35px;
}

#logo{
	height: auto;
	width: auto;
	max-width: 130px;
	max-height: 130px;
}

#logorep{
	display: none;
}

a{
	color: black;
	text-decoration: none;
	font-size: 20px;
}

a:hover{
	text-decoration: underline;
	color: black;
}

#banner{
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 30px;
}

#para1{
	margin-top: 50px;
	font-size: 20px;
}

#para2{
	margin: 0 0 0px;
	font-size: 20px;
}

#imagecenter1{
	margin-left: auto;
	margin-right: 0px;
	display: block;
}

#imagecenter2{
	margin-left: 0px;
	margin-right: auto;
	display: block;
}

#rowmargin{
	margin-top: 30px;
}

#quote{
	font-size: 39px;
	font-family: 'Sail', cursive;
}


#quote2{
	font-size: 50px;
	font-family: 'Dynalight', cursive;
}

@media only screen and (max-width: 500px){

#banner{
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 30px;
	max-height: 350px;
	max-width: 350px;
	height: auto;
	width: auto;
}

a{
	color: black;
	text-decoration: none;
	font-size: 15px;
}

a:hover{
	text-decoration: underline;
	color: black;
}


#logo{
	display: none;
	height: auto;
	width: auto;
	max-width: 100px;
	max-height: 100px;
	align-self: left;
}

#logorep{
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 15px;
	max-height: 100px;
	max-width: 100px;
	height: auto;
	width: auto;
}
}

#imagecenter1{
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 15px;
	max-height: 300px;
	max-width: 300px;
	height: auto;
	width: auto;
}

#imagecenter2{
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 15px;
	max-height: 300px;
	max-width: 300px;
	height: auto;
	width: auto;	
}

.hidepara{
	display: none;
	}

#quote{
	font-size: 30px;
	font-family: 'Sail', cursive;
}


}
